{
    "ecmaFeatures": {
        "jsx": true,
        "modules": true
    },
    "env": {
        "browser": true,
        "node": true,
        "es6": true,
		"jest": true
    },
    "extends": "eslint:recommended",
    "globals": {
        "process": true,
        "module": true
    },
    "parser": "babel-eslint",
    "plugins": ["react"],
    "rules": {
        "quote-props": [
            2, "as-needed", {"keywords": true}
        ],
        "valid-jsdoc": 1,

        "block-scoped-var": 2,
        "no-console": 1,
        "no-else-return": 1,
        "radix": 2,

        "array-bracket-spacing": [1, "never"],
        "block-spacing": [1, "never"],
        "brace-style": [
            1, "1tbs", {"allowSingleLine": true}
        ],
        "comma-style": [1, "last"],
        "computed-property-spacing": [1, "never"],
        "consistent-this": [1, "this"],
        "func-style": [1, "expression"],
        "indent": [1, 4],
        "jsx-quotes": [1, "prefer-double"],
        "key-spacing": [1, {"afterColon": true}],
        "linebreak-style": [1, "unix"],
        "new-cap": [1, {"newIsCap": true}],
        "newline-after-var": [1, "always"],
        "no-lonely-if": 1,
        "no-case-declarations": 2,
        "no-empty-pattern": 1,
        "no-multiple-empty-lines": 1,
        "no-unneeded-ternary": 1,
        "object-curly-spacing": [1, "always"],
        "padded-blocks": [1, "never"],
        "prefer-arrow-callback": 1,
        "prefer-template": 1,
        "quotes": [1, "single"],
        "space-before-blocks": [1, "always"],
        "space-before-function-paren": [
            1, {"anonymous": "always", "named": "never"}
        ],

        "no-var": 1,

        "react/jsx-curly-spacing": [1, "never"],
        "react/jsx-max-props-per-line": [1,
            {"maximum": 2}
        ],
        "react/jsx-no-duplicate-props": [
            1, {"ignoreCase": true}
        ],
        "react/jsx-uses-react": 1,
        "react/no-did-update-set-state": 1,
        "react/no-direct-mutation-state": 1,
        "react/prop-types": 1,
        "react/self-closing-comp": 1,
        "react/sort-comp": 1
    }
}
