/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  margin: 0 auto;
}
h1 {
  font-family: inherit;
  font-weight: 600;
  font-style: inherit;
  font-size: 30px;
  line-height: 48px;
  margin-top: 24px;
  margin-bottom: 0px;
}
h2 {
  font-family: inherit;
  font-weight: 600;
  font-style: inherit;
  font-size: 24px;
  line-height: 24px;
  margin-top: 24px;
  margin-bottom: 24px;
}
h3 {
  font-family: inherit;
  font-weight: 600;
  font-style: inherit;
  font-size: 20px;
  line-height: 24px;
  margin-top: 24px;
  margin-bottom: 0px;
}
h4 {
  font-family: inherit;
  font-weight: 600;
  font-style: inherit;
  font-size: 16px;
  line-height: 24px;
  margin-top: 24px;
  margin-bottom: 0px;
}
h5 {
  font-family: inherit;
  font-weight: 400;
  font-style: italic;
  font-size: 16px;
  line-height: 24px;
  margin-top: 24px;
  margin-bottom: 0px;
}
p,
ul,
ol,
pre,
table,
blockquote {
  margin-top: 0px;
  margin-bottom: 24px;
}
ul ul,
ol ol,
ul ol,
ol ul {
  margin-top: 0;
  margin-bottom: 0;
}
hr {
  border: 1px solid;
  margin: -1px 0;
}
b,
strong,
em,
small,
code {
  line-height: 1;
}
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
a {
  color: #268ED9;
}
.gridlover-grid {
  background-image: linear-gradient(to bottom, rgba(0, 170, 255, 0.3) 1px, transparent 1px);
  background-position: left -1px;
  background-repeat: repeat;
  background-size: 24px 24px;
}
.gridlover-grid.body {
  box-shadow: 1px 0px 0px rgba(0, 170, 255, 0.3), -1px 0px 0px rgba(0, 170, 255, 0.3);
}
a,
.a {
  text-decoration: none;
  cursor: pointer;
}
a:hover,
.a:hover {
  text-decoration: underline;
}
pre,
code {
  font-family: 'Inconsolata';
}
pre {
  padding: 11px;
  border: 1px solid #DBDBDB;
  border-radius: 3px;
  width: 100%;
}
code {
  border-radius: 3px;
  background-color: #F7F7F7;
  padding: 2px 5px;
}
em {
  font-style: italic;
}
strong {
  font-weight: bold;
}
.wt-logo img {
  width: 31px;
  height: 31px;
}
.gh-logo i {
  font-size: 36px;
}
textarea:focus,
input:focus {
  outline: 0;
}
a.active {
  font-weight: bold;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html,
body,
.container,
#app,
.app,
.app-inner {
  height: 100%;
}
body {
  font-family: 'Lato', sans-serif;
  color: #4A4A4A;
}
.app .header,
.app .footer {
  width: 100%;
  color: white;
}
.app .header ul,
.app .footer ul {
  margin: 0;
}
.app .header a,
.app .footer a {
  color: white;
}
.app .header i,
.app .footer i {
  color: white;
}
.app .header {
  display: flex;
  align-items: center;
  background-color: #2A7885;
  height: 88px;
}
.app .header .logo {
  width: 301px;
  height: 47px;
  margin: 20px;
}
.app .header nav {
  margin-left: auto;
  padding: 34px;
}
.app .footer {
  height: 160px;
  text-align: center;
  background-color: #2e3c44;
}
.app .footer .logos {
  padding-top: 31px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.app .footer .logos a {
  padding: 5px;
}
.app .footer p {
  margin: 0;
}
.app .sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 200px;
  background: #F7F7F7;
  border-right: 1px solid #DBDBDB;
  padding: 24px;
}
.app .sidebar a {
  color: #4A4A4A;
}
.app .sidebar li ul {
  margin-left: 10px;
}
.app .app-content {
  padding: 24px 48px;
  margin-left: 200px;
  max-width: 900px;
}
table {
  border: 1px solid #DBDBDB;
  border-radius: 3px;
  width: 100%;
}
table th,
table td {
  border: 1px solid #DBDBDB;
}
table td {
  padding: 12px;
}
table th {
  font-weight: bold;
  padding: 12px;
}
table tbody tr:nth-child(even) {
  background-color: #F7F7F7;
}
.docs .subsection {
  border-top: 3px solid #F7F7F7;
  padding-bottom: 24px;
}
.exampleForm input {
  margin-left: 20px;
}
.formErrors {
  color: red;
}
.formSuccess {
  color: green;
}
