input {
    margin-bottom: 20px;
    padding: 5px 10px;
    width: 250px;
    display: block;
}

.inline-errors {
    color: goldenrod;
    position: absolute;
    left: 100%;
    top: 0;
    width: 300px;
}

.input-row {
    position: relative;
}

.errors {
    color: darkred;
}
